.main-wrapper, .cartItem, .content-wrapper{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.content-wrapper{
    flex-direction: inherit;
}
.main-wrapper{
    min-height: 900px;
    position: relative;
    margin-bottom: 5px;
}
.cartItem .img-item>img{
    max-width:150px
}
.cartItem {
    border: 1px solid;
    margin: 1px;
}
.content-item,.oder-summary{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.img-item>img{
    margin: 10px;
}

.content-wrapper>ul{
    padding: 0;
    margin: 0;
}
.del-bt{
    height: 30px;
}
.content-wrapper ul li{
    display: block
}
.check-out>div{
    width: 100%;
}
.oder-summary{
    
    padding: 10px;
}
.check-out div .btn{
    background-color: red;
    color: white;
    width: 100%;
    margin-bottom: 5px;
    
}
.text-container>span{
    font-size:25px;
    text-transform: uppercase;
}

.oder-table-center tr td {
   height: 50px;
   
}
.box>input {
    width: 100px;
}
.leftContainer{
    max-width: 400px;
    position: relative;
}
.check-out div .btn-exit{
    background-color: #ffe9ad;
    color: black;
}
 /* vao */
 .animation2{
    animation-name: example2;
    animation-duration: 4s;
  }
  
@keyframes example2 {
    0%   { left:100%;}
    
    100% {left:0%; }
  }