*{
    
    
}
body{
    
}

.navbar-expand-lg, .logo {
    z-index: 3;
}
.navbar-expand-lg {

    
    width: 100%;
    position: fixed;
    top: 0;
}
.bg-{
    background-color: #ffe9ad;
}
.logo{
    width: 100px;
    padding: 0;
    position: relative;
}
.d-flex{
    justify-content: center;
}
.d-flex input{
    max-width:800px
}
.navbar-nav .nav-link {
    padding-right: 10px;
    padding-left: 10px;
}
.nav-item>a, .dropdown-menu>li{
    margin: 0 10px 0 10px;
    
}
.nav-item>a:hover , .nav-item ul {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:#fff3ad ;
    border-radius: 10px;
}
.active{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:#fff3ad ;
    border-radius: 10px;
}

.nav-item:hover,.dropdown-menu a:hover {
   
    border-radius: 10px;
      
}
.navbar-toggler, .dropdown-menu{
    background-color: #fee8ac;
    margin: 10px;
}

.navbar-collapse{
    flex-direction: column;
}
.navbar-collapse {
   
    align-items:initial;
}
.home-item{
    
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    z-index: 0;
    justify-content: space-around;
}
.card{
    margin: inherit;
    margin-top: 20px;
    
}
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-text{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

}
.card .cardImg{
    display: flex;
    align-items: center;
    margin: auto;

    height: 400px;
    width: 300px
    /* content: url("https://scontent.fhan7-1.fna.fbcdn.net/v/t39.30808-6/269887699_104656662096281_8129960998215959014_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=730e14&_nc_ohc=KGhvGqYV9e4AX-sdNap&_nc_ht=scontent.fhan7-1.fna&oh=00_AT-_FtdoxYzaBPZq7T5NT31iJkSuCyy4Nr73t3szA9IkQw&oe=621050E9"); */
}
.cardImg img{
    max-width: 300px;
    max-height: 400px;
    margin: auto;
    }
.home-item, .active-item{
    position: relative;
    z-index: 0;
}
.btn-primary{
    max-width:  150px;
}
.imgHeader{
    position: relative;
}
.active-item{
    /* z-index: 1;
    position: fixed; */
    
    display: none;
    
}
.activeItem{
    
        z-index: 1;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(115, 115, 115 ,0.5);
        top: 10px;
        justify-content: center;
        display: flex;
        top: 0;
        z-index: 3;
} 
.card-active{
    max-width: 90%;
    margin: auto;
    z-index: 3;
    flex-direction: inherit;
    min-width: 80%;
    max-height: 90%;
    min-height: 80%;

}
.cardImg>img{
    
    padding: 20px;
}
.activeItem .card-active .card-body .range{
    justify-content: center;
}
.activeItem .card-active .card-body>p{
    -webkit-line-clamp: initial;
}
.activeItem .card-active .card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.range{
    font-size: 15px;
    display: flex;
    justify-content: center;

}
.rangeTable tr td{
    padding: 0;
    height: 8px;
    
   
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home-item .card-body>p:not(.profuct-price), .home-item .card-body .star .starNumber,.home-item .card-body .rangeTable {
    display: none ;
}
.card-body p span {
    color:red;
    font-size: 20px;
}
.rangeNumber{
    width:20px;
    font-size: 15px;
}
.progress{
    height: 8px;
    max-width: 150px;
    min-width: 100px;
}

.star , .rangeTable{
    
    width: 200px;
    
    margin: 10px;
}

.star tr .starText p {
    text-align: center;
    font-size: 12px;
    height: 20px;
    margin: 0;
    padding: 0px  2px 0px 2px;
}
.starIcon{
   padding: 0;
}
.bi-star-fill{
   
}
.starNumber h1{
    
        text-align: center;
        font-size: 40px;
        padding: 0;
        margin: 0;
      
                                                                                                                                                            
}

.yelllwStarting{
    color: #ffc107;
}
.footer{
    display: flex;
    flex-direction: column;
}
.footerBar{
    width: 100%;
    
    background-color: #ffe9ad;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: 20px;
}
.footer .tb-footer{
    border: 1px solid ;
}
.footerBar ul{
    padding: 0;
    margin: 0;
}
.footerBar ul li{
   
    display:block;
}
.footerBar ul li a{
    text-decoration: none;
}
.card1, .card2, .card3{
    padding: 20px;
    padding: 20px;
    min-width: 250px;
    max-width: 350px;
}
.card2{
    width: 250px;
}
.card3 ul li{
    display: flex;
    justify-content: flex-start;
}
.card3 ul li svg{
    margin: 0 10px 0 0;
}
.card3 ul li p{
    padding: 0;
}
.botom{
    display: flex;
    justify-content:center;
    padding-top: 10px;
}
.position-relative{
    
}
/* ra */
.animation1{
    animation-name: example1;
    animation-duration: 1.5s;
  }
  
@keyframes example1 {
    0%   { left:0%; }
    
    100% {left:100%;}
  }
  /* <--[]vao */
.animation2{
    animation-name: example2;
    animation-duration: 1s;
  }
  
@keyframes example2 {
    0%   { left:100%;}
    
    100% {left:0%; }
  }

  
/* []---> */
.animation3{
    animation-name: example3;
    animation-duration: 2s;
  }
  
@keyframes example3 {
    0%   { right: 100%;}
    
    100% {right: 0%;} 
  }
  .disabled{
      display: none;
  }

  /* up */
.animation4{
    animation-name: example4;
    animation-duration: 2s;
    
  }
  
@keyframes example4 {
    0%   {top: 100%; }
    
    100% { top:0px} 
  }

/* <---[]⇐*/
.animation5{
    animation-name: example5;
    animation-duration: 2s;
    
  }
  
@keyframes example5 {
    0%   {right: 0%; }
    
    100% { right: 100%;} 
  }
/* ⇑⇑ */
.animation6{
    animation-name: example6;
    animation-duration: 2s;
    
  }
  
@keyframes example6 {
    0%   {top: 100%; }
    
    100% { top:-50%} 
  }













  /* check out  */
.check-address{
    position: relative;
    margin: auto;
    padding: 20px;
    max-width: 80%;
    min-width: 400px;
    display: flex;
    justify-content: space-around;
  }
.check-address .row {
    max-width: 500px;
}
.close-ck-address{
    height:30px;
}
/*  disabled*/
.disabled{
    display: none;
    
}

/*  */
.invalid , .invalid input, .invalid span{
    color:red;
    border-color: red;
}